* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background: white;
  color: black;
  border-radius: 0.2rem;
  padding: 0.8rem;
  /* border-right: 4px solid white; */
  /* background: rgb(45, 51, 89); */
}

.small-active {
  background: white;
  color: black;
  padding: 0 !important;
}
